* {
    margin: 0;
    padding: 0;

}

/* Styling navbar container */
nav {
    background-color: white;
    box-shadow: 3px 5px 5px rgba(0, 0, 0, 0.1);
}

/* Styling unordered list container */
nav ul {
    width: 100%;
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* Styling unordered lits-items*/
nav li {
    height: 50px;
    margin: 10px;
}

/* Styling anchor tags inside nav container */
nav a {
    width: 100%;
    height: 100%;
    padding: 0px 30px;
    text-decoration: none;
    display: flex;
    align-items: center;
    color: black;
}

/* styling hover effect on anchors */
nav a:hover {
    background-color: #61cabf29;
}

/* Styling first list-item inside nav container */
nav li:first-child{
    margin-right: auto;
}


#menuLogoContainer {
    position: absolute;
    left: 45%;
    transform: translatX(-50%);
}

#menuLogo {
    height: 50px;
}

.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 250px;
    z-index: 999;
    box-shadow: -10px 0 10px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    background-color: #ffffff;
    backdrop-filter: blur(10px);

}

.sidebar li {
    width: 100px;

}
/*section one: cake images and text*/


.cake {
    display: flex;
    justify-content: center;
    max-width: 100%;
    height: auto;
}

h1 {
    font-weight: bold;
    font-size: 250%;
    margin-top: 2%;
    padding-bottom: 2%;
    display: flex;
    justify-content: center;
}

.text {
    display: flex;
    justify-content: space-around;
    padding-bottom: 3%;
}

.item-1 {
    margin-left: 20%;
}

.item-2 {
    margin-right: 20%;
}

.thin-line {
    border-bottom: 2px solid #F89406;
}

/*section 2: ingrediens*/

h2 {
    margin-left: 10%;
    padding-top: 2%;
    padding-bottom: 1% ;
}

ul {
    margin-left: 10%;
    padding-bottom: 2%;
    list-style: none;

}

a {
    padding: 1%
}

/*Section 3: slik gjør du*/

ol li{
    margin-left: 10%;
    padding: 2%;

}

/*section 4: produktlinje*/

p {
    margin-left: 10%;
    padding-bottom: 2%;
}

.text-2 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin-left: 5%;
    gap: 4%;

}

.text-2 img {
    max-width: 100%;
    height: auto;
}

.bodylab {
    order: 3;
}

h3 {
    font-weight: normal;
    padding-top: 2%;
    padding-bottom: 2%;
    font-size: 100%;
}

.price {
    font-weight: bold;
    font-size: 120%;
    
}


/*footer*/


footer {
    background-color: #61CAC0;
}

.top {
    display: flex;
    justify-content: center;
    padding-top: 3%;
    font-weight: bold;
    font-size: 110%;
}

.box {
    display: flex;
    justify-content: center;
    padding: 2%;
}

button {
    background-color: #F89406;
    border: none;
    color: white;
    font-size: 100%;
    box-shadow: none;
    padding: 1% 3%;
    cursor: pointer;
    border-radius: 15px;
    display:flex;
    justify-content: center;

}

.row {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    
}



