/* Reset style */
*{
    margin: 0;
    padding: 0;
}


html {
    font-family: sans-serif;
}


/* Styling navbar container */
nav {
    background-color: white;
    box-shadow: 3px 5px 5px rgba(0, 0, 0, 0.1);
}

/* Styling unordered list container */
nav ul {
    width: 100%;
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* Styling unordered lits-items*/
nav li {
    height: 50px;
    margin: 10px;
}

/* Styling anchor tags inside nav container */
nav a {
    width: 100%;
    height: 100%;
    padding: 0px 30px;
    text-decoration: none;
    display: flex;
    align-items: center;
    color: black;
}

/* styling hover effect on anchors */
nav a:hover {
    background-color: #61cabf29;
}

/* Styling first list-item inside nav container */
nav li:first-child{
    margin-right: auto;
}


#menuLogoContainer {
    position: absolute;
    left: 45%;
    transform: translatX(-50%);
}

#menuLogo {
    height: 50px;
}

.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 250px;
    z-index: 999;
    box-shadow: -10px 0 10px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    background-color: #ffffff;
    backdrop-filter: blur(10px);

}

.sidebar li {
    width: 100px;
}



/*Media Query*/
/*Desktop*/
@media(min-width:1024px){
    
}


/*Tablet*/
@media(min-width: 768px) and (max-width:1023px){
    .hideOnMobile {
        display: none;
    }
    
    .burgerMenu {
        display: block;
    }

    h1 {
        justify-content: center;
        display: flex;
    }

    .pulverimg {
        width: 100%;
        height: 307px;
        display: flex;
        align-items: center;
        padding: 1rem;   
    }

    .valleproteinpulver {
        justify-content: space-evenly;
        display: flex;
    }

    .Kaseinproteinpulver {
        justify-content: space-evenly;
        display: flex;
       
    }


    

}

/*Mobil*/
@media(max-width: 767px) {
    .sidebar{
        width: 100%;
    }
}




@font-face {
    font-family:'Keep calm';
    src: url(../fonts/keep_calm/KeepCalm-Medium.ttf);
    font-family: 'Source Sans';
    src: url(../fonts/Source_Sans_3/SourceSans3-VariableFont_wght.ttf);
}

body{
    font-family:'Source Sans';
}


h1{
    font-family: 'Keep calm';
}

/*FORSIDE*/
/*Styling af quote på forsiden*/
.quote img{
    width: 100%;
    margin-top: 3rem;
}

/*Sætter billeder på en række*/
.row{
   width: 10rem;
   height: 10rem;
   display: flex;
   flex-direction: row;
   margin: 1rem;
}

.opskrift img{
    width: 90%;
}

/*Centrerer foto*/
.opskrift{
    display: flex;
    justify-content: center;
    margin-bottom: 2rem;
    position: relative;
}

.populært{
    margin-bottom: 5rem;
}

/*Styler tekstboks ovenpå foto*/
.note{
    background-color: #F89406;
    color: #ffffff;
    width: 200px;
    height: 39px;
    font-size: 18px;
    display: flex;
    position: absolute;
    top: 12%;
    right: 5%;
    align-items: center;
    justify-content: center;
}

.anmeldelse{
    background-color: #F89406;
    width:75%;
    padding: 2rem;
    margin-bottom: 2rem;
    margin-left: 1.3rem;
    display: flex;
    justify-content: center;
}

.move{
    margin-left: 1.5rem;
}

/*GUIDES*/
/*Styling af fotos*/
.billedrække{
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    margin:20px;
    width: 380px;
    height:200px;
    overflow: hidden;
}

/*Styler billederne så der bliver croppet og rokeret*/

.fotos{
    width: 100%;
}

.rotate{
    transform: translateY(-15%);
}

.rotate1{
    transform: translateY(-25%);
}


/*Styling af knap og placering af den*/
.button{
    background-color: #F89406;
    color: #ffffff;
    width: 218px;
    height:39px;
    font-size: 18px;
    align-items: center;    
    text-align: center;
    text-decoration: none;
    border: none;
    border-radius: 20px;
    position: absolute;
    bottom:15px;
    display: flex;
    justify-content: center;
}


/*FOOTER*/
/*Styling af footer*/
footer{
    background-color: #61CAC0;
}

/*Placering i footer*/
.newsletter{
   display: flex;
   flex-direction: column;
   align-items: center;
   margin: 2%;
   padding: 5%;
}

.info{
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

.kundeservice{
    margin-left: 6rem;
}

.box{
    margin: 2%;
}

/*Styling af tilmeld knap*/
.tilmeld{
    background-color: #F89406;
    color: #ffffff;
    width: 20%;
    font-size: 1em;
    border: none;
    border-radius: 20px;
}


/* Styling af undersiden proteinpulver */

h1{
    display: flex;
    justify-content: center;
}
/* Styling af fotos*/
.pulverimg{
    width: 100%;
    height: 200px;
    display: flex;
    align-items: center;
    padding: 1rem;
}

.valleproteinpulver{
    width: 100%;
    height: 110px;
    display: flex;
    padding: 1rem;
}

.Kaseinproteinpulver{
    width: 100%;
    height: 110px;
    display: flex;
    padding: 1rem;
}
/* Styling af underoverskrifter og tekst */
h3 {
    line-height: 1.5;
    margin-left: 1rem;
}

h4{
    line-height: 1.5;
    margin-left: 1rem;
    
}

.a {
    padding: 1rem;
}


/*Media Query*/
/*Desktop*/
@media(min-width:1024px){
    
    footer{
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-between;
    }

    .populært{
        margin-left: 2rem;
        margin-bottom: 2rem;
    }

    .move{
        margin-left: 3rem;
    }

    .tilmeld{
        width: 40%;
    }

    .info{
        margin-top: 3.5rem;
    }
    
    

    .opskrift{
        width: 50%;
    }


    .anmeldelse{
        width: 40%;
        font-size: 25px;
        display: flex;
        align-items: center;
    }

    .apostrof{
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
    }

    .reklame{
        display: flex;
        flex-direction: row;
        margin: 2rem 0rem;
    }
    
    .quote{
        height: 25rem;
        overflow: hidden;
        margin-bottom: 2rem;
    }
    


}



/*Tablet*/
@media(min-width: 768px) and (max-width:1023px){
    .hideOnMobile {
        display: none;
    }
    
    .burgerMenu {
        display: block;
    }

    h1 {
        justify-content: center;
    }

    article-1 img {
        width: 60rem;
        height: auto;
    }

    footer{
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-between;

    }

    .populært{
        margin-left: 1.5rem;
        margin-bottom: 4rem;
    }

    .move{
        margin-left: 3rem;
    }

    .anmeldelse{
        width: 82%;
        margin-left: 2.5rem;
    }

    .tilmeld{
        width: 40%;
    }

    .info{
        margin-top: 2.5rem;

    }

    .quote{
        margin-top: 2rem;
    }
    

}

/*Mobil*/
@media(max-width: 767px) {
    .sidebar{
        width: 100%;
    }
}
