/* Reset style */
*{
    margin: 0;
    padding: 0;
}

/*GUIDES*/
/*Styling af fotos*/
.guides{
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    margin: 20px;
}

/*Styling af knap og placering af den*/
.button{
    background-color: #F89406;
    color: #ffffff;
    width: 218px;
    height:39px;
    font-size: 18px;
    align-items: center;    
    text-align: center;
    text-decoration: none;
    border: none;
    border-radius: 20px;
    position: absolute;
    bottom:15px;
}


/*FOOTER*/
/*Styling af footer*/
footer{
    background-color: #61CAC0;
}
 
.newsletter{
   display: flex;
   flex-direction: column;
   align-items: center;
   margin: 2%;
   padding: 3%;
}

.info{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.row{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding-bottom: 5%;
}


/* Styling af undersiden proteinpulver */